.container{

}

header{
  background-color: #4f4848;
  padding-top: 2%;
  padding-bottom: 2%;
}
h1{
  color: #ffffff;
  margin-left: 3%;
}

.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}
