<!DOCTYPE html>
<html>
  <head>
    <title>memeGenerator</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <!-- OG facebook -->
        <meta property="og:title" content="Generator de même"/>
        <meta property="og:type" content="image"/>
        <meta property="og:url" content="http://alij.public.codeur.online/GENERATOR_MEME/"/>
        <meta property="og:image" content="http://alij.public.codeur.online/GENERATOR_MEME/newMeme/{{name}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!-- OG Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="Générateur de meme">
        <meta name="twitter:description" content="Le meilleur site FR de création de meme en ligne !">
        <meta name="twitter:image:src" content="http://alij.public.codeur.online/GENERATOR_MEME/newMeme/{{name}}">
        <meta name="twitter:image" content="http://alij.public.codeur.online/GENERATOR_MEME/newMeme/{{name}}">
    </head>
  <body>
  <header>
      <h1>Meme Generator</h1>
      <p>Enjoy it!</p>
  </header>
